/* Add custom styles to display the fruits */
#body{
    background-color: gray;
}
#heading{
    margin: 80px 0px 0px 350px;
    color: whitesmoke;
    font-family: 'Times New Roman', 'Times', 'serif';
}
